<style type="text/css">
    .adverts {
        height: 120px;
    }
    
    .bgimage {
        background-size: cover;
        background-position: center center;
        height: 300px;
    }
    
    ul[rn-carousel] {
        height: 200px;
        margin: 0 auto;
    }
</style><div class="page-err" ng-show="cards.length==0">
    <div class="err-container">
        <div class="text-center">
            <div class="err-status">
                <h1 style="font-size: 90px;">Ooops!</h1>
            </div>
            <div class="err-message">
                <h2 style="font-size: 30px;">Em breve teremos sorteios aqui para você participar.</h2>
            </div>
            <div class="err-body">
                <a ui-sref="app.new_sort" class="btn btn-lg btn-goback">
                    <span class="space"></span> Clique aqui para criar um
                </a>
            </div>
        </div>
    </div>
</div>
<div layout="row" layout-wrap layout-fill ng-show="cards.length!=0">
<div flex-xs="100" flex-sm="50" flex-gt-sm="33"  ng-repeat="c in cards">
<md-card layout="column" >
            <div ng-style="{'background-image': 'url('+ c.output.display_src + ')'}" class="bgimage" flex></div> <span flex></span>
    <div flex="70" layout-padding>
        <p class="md-title" style="font-weight: 500; text-transform: uppercase; font: 500 16px/22px 'Roboto',sans-serif;">{{c.data.titulo}}</p>
        <div layout="row">
            <div layout="column">
                        <span class="md-caption"><md-icon md-svg-icon="calendar"></md-icon>Encerramento: {{c.data.data | date:'dd/MM/yy'}}</span>
                        <span class="md-caption"><md-icon md-svg-icon="account"></md-icon>Anunciante: <b>@{{c.output.owner.username}}</b> </span>
                        <span class="md-caption"><md-icon md-svg-icon="ticket"></md-icon>Tickets abertos: {{c.tickets.length}} </span>

            </div>
            <div layout="column">
            </div>
        </div>
    </div>
    <md-button class="md-raised" style="background-color:#03A9F4;color:white">Alterar</md-button>
    <md-button class="md-raised" style="background-color:red;color:white">Encerrar</md-button>
</md-card>
</div>
</div>