<style type="text/css">
    .adverts {
        height: 120px;
    }
    
    .bgimage {
        background-size: cover;
        background-position: center center;
        height: 300px;
    }
    
    ul[rn-carousel] {
        margin: 0 auto;
    }
</style>
<div class="page-err" ng-show="cards.length==0">
    <div class="err-container">
        <div class="text-center">
            <div class="err-status">
                <h1 style="font-size: 90px;">Ooops!</h1>
            </div>
            <div class="err-message">
                <h2 style="font-size: 30px;">Em breve teremos novos produtos aqui para você comprar.</h2>
            </div>
            <div class="err-body">
                <a ui-sref="app.new_sort" class="btn btn-lg btn-goback">
                    <span class="space"></span> Clique aqui para criar um
                </a>
            </div>
        </div>
    </div>
</div>
<div layout="row" layout-wrap layout-fill ng-show="cards.length!=0">
    <div flex-xs="100" flex-sm="50" flex-gt-sm="33" ng-repeat="c in cards">    
        <md-card layout="column">
            <div ng-style="{'background-image': 'url('+ c.output.display_src + ')'}" class="bgimage" flex></div> <span flex></span>
            <div flex="70" layout-padding>
                <p class="md-title" style="font-weight: 500; text-transform: uppercase; font: 500 16px/22px 'Roboto',sans-serif;">{{c.data.titulo}}</p>
                <div layout="row">
                    <div layout="column">
                    <h3>{{c.data.nome}}</h3>
                        <span class="md-caption"><md-icon md-svg-icon="calendar"></md-icon>Encerramento: <timer countdown="get_data(c.data.data)" max-time-unit="'day'" interval="1000">{{days}} dias - {{hhours}}:{{mminutes}}:{{sseconds}}</timer></span>
                        <span ng-if="c.last_user.name" class="md-caption"><md-icon md-svg-icon="account"></md-icon>Último lance: <b><a target="_blank" href="https://instagram.com/{{c.last_user.name}}">@{{c.last_user.name}}</a> </b> </span>
                        <span ng-if="c.last_user.name" class="md-caption"><md-icon md-svg-icon="ticket"></md-icon>Valor: {{c.lances/100 | currency: "R$ "}} </span>
                        <span ng-if="!c.last_user.name" class="md-caption"><md-icon md-svg-icon="ticket"></md-icon>Seja o primeiro a dar um lance </span>
                    </div>
                </div>
            </div>
            <md-button class="md-raised md-primary" ng-click="make_lance(c._id)">Dar Lance</md-button>
        </md-card>
    </div>
</div>
