<md-toolbar><a ui-sref="app.add_product"><md-button class="md-raised md-default" > Adicionar </md-button></a></md-toolbar>
<div layout='column' layout-paddingn ng-repeat="card in data">
	<md-card layout="row">
	<div style="max-width:240px; height:240px">
		<img src="{{card.data.img}}">
	</div>
	<div layout-padding>
		<h3>{{card.data.nome}}</h3>
		<p>Vencimento: {{card.data.data | date: "dd/MM/yyyy"}} </p>
		<p ng-if="card.last_user.name">Lances: {{card.lances}} </p>
		<p ng-if="card.last_user.name">Último lance: <a target="_blank" href="https://instagram.com/{{card.last_user.name}}">@{{card.last_user.name}}</a>  </p>
	</div>
	</md-card>
</div>